<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>  
  <connectionStrings>
    <add name="MyDbContextConnectionString" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;UserId=root;Password=pt1.pr3uMYSQL;database=KrakenDB;CharSet=utf8;" />
  </connectionStrings>
   <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider></providers>
  </entityFramework>
  <appSettings>
    <add key="KrakenBaseAddress" value="https://api.kraken.com" />
    <add key="KrakenApiVersion" value="0" />
    <!--<add key="KrakenKey" value=""/>
      <add key="KrakenSecret" value=""/> -->
       
    <add key="IntervalStoredInMemoryInSecond" value="86400" />  <!--As per the name, in Second-->
    <add key="TraderAndLedgerApiRequestInterval" value="4000" /> <!--in milli second-->
    <add key="RestOfApiRequestInterval" value="2000" /> <!--in milli second-->
    <add key="StandardDeviationMultplicateurStopLoss" value="3" /> <!--it is the multiplicateur of the standard deviation cto set up stop loss price-->
    <add key="WaitingTimeBetweenBuyAndSell" value="10000" /> <!--in milli seconds-->
    <add key="FeeInPercentage" value="0.38" /> <!--in percentage 0.14% + 0.24%-->
   <add key="MarginOnFeeInPercentage" value="0.1" /> <!--in percentage -->
    <add key="PeriodOHLCData" value="1440" /> <!--in minute -->
    <add key="OrderBookCount" value="500" />
    <add key="UrlHtmlFile" value="C:\Users\vincent\Desktop\KrakenApplication\KrakenApp\ResultPage.html"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>