<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="KrakenBaseAddress" value="https://api.kraken.com"/>
    <add key="KrakenApiVersion" value="0"/>
    <!--<add key="KrakenKey" value=""/>
      <add key="KrakenSecret" value=""/> -->
    <add key="TraderAndLedgerApiRequestInterval" value="4000"/> <!--in milli second-->
    <add key="RestOfApiRequestInterval" value="2000"/> <!--in milli second-->
    <add key="StandardDeviationMultplicateurStopLoss" value="3"/> <!--it is the multiplicateur of the standard deviation cto set up stop loss price-->
    <add key ="WaitingTimeBetweenBuyAndSell" value="10000"/> <!--in milli seconds-->
    <add key ="FeeInPercentage" value="0.38"/> <!--in percentage 0.14% + 0.24%-->
   <add key ="MarginOnFeeInPercentage" value="0.1"/> <!--in percentage -->
  </appSettings>
</configuration>